<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic"> Form  </h4>
      </c-col>
    </c-row>

    <br>
    <div>
      <ng-content select="app-yes-parameters"></ng-content>
    </div>
    <form #f="ngForm">
      <div>
        <!-- Action here like : add, delete,... -->
        <button type="button" class="btn btn-success waves-effect"
          [disabled]='object.purpose.description ==null || this.object.purpose.description == undefined' (click)="save(f.value)">Save</button> &nbsp;
        <button type="button" class="btn btn-info waves-effect" (click)="cancel()">Annuler</button> &nbsp;
        <button type="button" class="btn btn-info waves-effect" (click)="Attacher()">Attacher</button>

      </div>
      <br />
      <div>
        <div>
          <label cLabel for="exampleFormControlInput1">Besoin</label>
          <c-dropdown cFormControl  style="width: 100%;" style="margin-bottom: 10px;">
            <a cButton cDropdownToggle color="secondary" size="sm" >
              {{ this.object == null ? "": this.object!.purpose!.description}}
            </a>
            <ul cDropdownMenu style="width: 100%;">
              <li *ngFor="let purposeItem of purposeList">
                <a (click)="selectPurpose(purposeItem)" cDropdownItem>{{purposeItem.description}}</a>
              </li>
            </ul>
          </c-dropdown>

                   <label cLabel for="exampleFormControlInput1">Status de crédit</label>
          <c-dropdown cFormControl  style="width: 100%;" style="margin-bottom: 10px;">
            <a cButton cDropdownToggle color="secondary" size="sm" >
              {{ this.object == null ? "": this.object!.creditStatus!.description}}
            </a>
            <ul cDropdownMenu style="width: 100%;">
              <li *ngFor="let creditStatusItem of creditStatusList">
                <a (click)="selectCreditStatusItem(creditStatusItem)" cDropdownItem>{{creditStatusItem.description}}</a>
              </li>
            </ul>
          </c-dropdown>

          <label cLabel for="exampleFormControlInput1">Compte</label>
          <c-dropdown cFormControl  style="width: 100%;" style="margin-bottom: 10px;">
            <a cButton cDropdownToggle color="secondary" size="sm" >
              {{ this.object == null ? "": this.object!.account!.description}}
            </a>
            <ul cDropdownMenu style="width: 100%;">
              <li *ngFor="let accountItem of accountList">
                <a (click)="selectAccount(accountItem)" cDropdownItem>{{accountItem.description}}</a>
              </li>
            </ul>
          </c-dropdown>
                    <input cFormControl type="text" hidden="true" [(ngModel)]="object.id" name="id" placeholder="Id" />
          <!-- <label cLabel for="exampleFormControlInput1">Code</label> -->
          <input cFormControl type="text"  hidden="true" [(ngModel)]="object.code" name="code" placeholder="Code" style="margin-bottom: 10px;" />
          <label cLabel for="exampleFormControlInput1" >Montant à dépenser</label>
          <ejs-numerictextbox cFormControl  [(ngModel)]="object.amountToSpend"  format="C2"  name="amountToSpend" placeholder="Montant à dépenser" style="margin-bottom: 10px;"></ejs-numerictextbox>
          <div *ngIf="object.actionDate">
          <label cLabel for="exampleFormControlInput1">Date d'action</label>
          <input cFormControl type="datetime" [(ngModel)]="object.actionDate" readonly="true"  name="actionDate" placeholder="Date d'action"  style="margin-bottom: 10px;"/>
        </div>
        <label cLabel for="exampleFormControlInput1">Notes</label>
          <input cFormControl type="text" [(ngModel)]="object.notes" name="notes" placeholder="Notes" style="margin-bottom: 10px;"/>
        </div>
        <br>
      </div>
    </form>
   
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
      </c-col>
      <c-col class="mb-sm-2 mb-0">
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>