<!-- <ejs-accumulationchart id = 'pie' style="height:100%; width:100%" [legendSettings]="pielegendSettings"
[tooltip]="pieTooltipSetting" [enableAnimation]='animation'
[enableBorderOnMouseMove]='enableBorderOnMouseMove' [enableSmartLabels]='enableSmartLabels'
(pointRender)='pointRender($event)' (load)='accumulationload($event)'>
<e-accumulation-series-collection>
  <e-accumulation-series [dataSource]='data' xName='Product' yName='Percentage' innerRadius="40%" radius="75%"
   [palettes]="palettes" [dataLabel]="dataLabel" [startAngle]="startAngle" [endAngle]="endAngle" [border]='border'>
  </e-accumulation-series>
</e-accumulation-series-collection>
</ejs-accumulationchart> -->

<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic"> Consommation </h4>
      </c-col>
    </c-row>
    <br>
    <div>
      <ng-content select="app-yes-parameters"></ng-content>
    </div>
    <div>
      <!-- Action here like : add, delete,... -->
      <button cButton color="info" routerLink="/Adm/SpendingForm">Ajouter</button> &nbsp;
      <button cButton color="info" (click)="modify()">Modifier</button> &nbsp;
      <button cButton color="info" (click)="delete()">Supprimer</button> &nbsp;
      <button cButton color="info" (click)="load()">Refrech</button> &nbsp;
      <button cButton color="light" align="Left" (click)="load()">More</button>
    </div>
    <div>
      <br />
      <ejs-grid #grid height='500px' height='500px' [toolbar]='toolbarOptions' (recordDoubleClick)="onDoubleClick($event)" [allowSorting]='true'
        [allowMultiSorting]='true' printMode='CurrentPage' [allowGrouping]="true"
        (recordDoubleClick)="onDoubleClick($event)" (load)='load()' [allowExcelExport]='true' [allowPdfExport]='true'
        [allowReordering]='true'>
        <e-columns>
          <e-column field='Code' headerText='Code' textAlign='Left' width=90 ></e-column>
          <e-column field='AmountToSpend' headerText='Montant à dépenser' format="C2" textAlign='Left'  width=90></e-column>
          <e-column field='ActionDate' headerText="Date d'action" [format]='format' type="datetime" textAlign='Left'  width=90></e-column>
          <e-column field='Purpose.Description' headerText='Besoin' textAlign='Left'  width=90></e-column>
          <e-column field='CreditStatus.Description' headerText='Status de crédit' textAlign='Left'  width=90></e-column>
          <e-column field='Account.Description' headerText='Compte' textAlign='Left'  width=90></e-column>

          <e-column field='Notes' headerText='Notes' textAlign='Left' width=150></e-column>
        </e-columns>
      </ejs-grid>`
      <c-chart class="small-chart"  type="doughnut" [data]="chartDoughnutData"></c-chart>

    </div>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
      </c-col>
      <c-col class="mb-sm-2 mb-0">
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>